[Desktop Entry]
Encoding=UTF-8
Name[ca]=xdelta3 IGU
Name[de]=xdelta3-Benutzeroberfläche
Name[es]=GUI xdelta3
Name[es_ES]=GUI xdelta3
Name[fi]=xdelta3 graafinen
Name[fr]=Interface graphique xdelta3
Name[fr_BE]=Interface graphique xdelta3
Name[gl_ES]=xdelta3 GUI
Name[hu]=xdelta3 grafikus felület
Name[it]=GUI xdelta3
Name[ja]=xdelta3 GUI
Name[nb]=Grafisk brukergrensesnitt for xdelta3
Name[pt]=xdelta3 - Interface gráfico
Name[pt_BR]=Comparador de Arquivos Xdelta3 GUI
Name[ru]=Интерфейс xdelta3
Name[ru_RU]=Интерфейс xdelta3
Name[sl]=xdelta3 grafični vmesnik
Name[sq]=GUI për xdelta3
Name[sv]=xdelta3 GUI
Name[tr]=xdelta3 Arayüzü
Name=xdelta3 GUI
Comment[ca]=Aplicació gràfica per a xdelta3
Comment[de]=Benutzeroberfläche der xdelta3-Anwendung
Comment[es]=GUI de la aplicación xdelta3
Comment[es_ES]=GUI de la aplicación xdelta3
Comment[fi]=Käyttöliittymä xdelta3 sovellukselle
Comment[fr]=Interface graphique pour l’application xdelta3
Comment[fr_BE]=Interface graphique pour l’application xdelta3
Comment[gl_ES]=GUI para a aplicación xdelta3
Comment[hu]=Felület az xdelta3 programhoz
Comment[it]=GUI per applicazioni xdelta3
Comment[ja]=xdelta3 アプリケーション用の GUI
Comment[nb]=Grafisk brukergrensesnitt for xdelta3
Comment[pt]=Interface gráfico para a aplicação xdelta3
Comment[pt_BR]=O ‘Xdelta3 GUI’ é uma interface gráfica para o aplicativo ‘Xdelta3’ que é um conjunto de ferramentas projetadas para calcular as alterações entre os arquivos binários. Estas alterações (ou arquivos delta) são semelhantes à ‘diferença’ da saída do programa, pois podem ser utilizadas para armazenar e transmitir apenas as alterações entre arquivos. Os ‘arquivos delta’ que são gerenciados pelo ‘Xdelta3’ e são armazenados no formato RFC3284 (VCDIFF).
Comment[ru]=Интерфейс для программы xdelta3
Comment[ru_RU]=Графический интерфейс для программы xdelta3
Comment[sl]=Gtafični vmesnik za program xdelta3
Comment[sq]=GUI për aplikacionin xdelta3
Comment[sv]=Grafiskt användargränssnitt för xdelta3 applikation
Comment[tr]=xdelta3 uygulaması için Grafiksel Kullanıcı Arayüzü
Comment=GUI for xdelta3 application
Exec=xdelta3-gui %f
Terminal=false
Type=Application
Icon=xdelta3-gui
Categories=System;MX-Utilities;
NoDisplay=false
MimeType=application/x-xdelta3;application/x-xdelta;
StartupNotify=true
Keywords=xdelta;patch;
